*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
build
nbproject/
.idea
_autocomplete.php
fuel/app/config/email.php

/fuel/app/config/crypt.php
